macro_ss: macro_ss{
compatible = "zmk,behavior-macro";
label = "macro_ss";
#binding-cells = <0>;
bindings = <&kp LEFT_WIN>, <&kp S>, <&kp S>;
};
macro_uumlautu: macro_uumlautu{
compatible = "zmk,behavior-macro";
label = "macro_uumlautu";
#binding-cells = <0>;
bindings = <&kp LEFT_WIN>, <&kp LEFT_SHIFT>, <&kp U>, <&kp COLON>;
};
macro_uumlautl: macro_uumlautl{
compatible = "zmk,behavior-macro";
label = "macro_uumlautl";
#binding-cells = <0>;
bindings = <&kp LEFT_WIN>, <&kp U>, <&kp COLON>;
};
macro_oumlautu: macro_oumlautu{
compatible = "zmk,behavior-macro";
label = "macro_oumlautu";
#binding-cells = <0>;
bindings = <&kp LEFT_WIN>, <&kp LEFT_SHIFT>, <&kp O>, <&kp COLON>;
};
macro_oumlautl: macro_oumlautl{
compatible = "zmk,behavior-macro";
label = "macro_oumlautl";
#binding-cells = <0>;
bindings = <&kp LEFT_WIN>, <&kp O>, <&kp COLON>;
};
macro_aumlautu: macro_aumlautu{
compatible = "zmk,behavior-macro";
label = "macro_aumlautu";
#binding-cells = <0>;
bindings = <&kp LEFT_WIN>, <&kp LEFT_SHIFT>, <&kp A>, <&kp COLON>;
};
macro_aumlautl: macro_aumlautl{
compatible = "zmk,behavior-macro";
label = "macro_aumlautl";
#binding-cells = <0>;
bindings = <&kp LEFT_GUI>, <&kp A>, <&kp COLON>;
};
macro_mdimg: macro_mdimg{
compatible = "zmk,behavior-macro";
label = "macro_mdimg";
#binding-cells = <0>;
bindings = <&kp EXCLAMATION>, <&kp LEFT_BRACKET>, <&kp PIPE>, <&kp NUMBER_3>, <&kp NUMBER_5>, <&kp NUMBER_0>, <&kp RIGHT_BRACKET>, <&kp LEFT_PARENTHESIS>, <&kp RIGHT_PARENTHESIS>, <&kp HOME>, <&kp RIGHT_ARROW>, <&kp RIGHT_ARROW>;
};
macro_quotes: macro_quotes{
compatible = "zmk,behavior-macro";
label = "macro_quotes";
#binding-cells = <0>;
bindings = <&kp SQT>, <&kp SQT>, <&kp LEFT>;
};
macro_dquotes: macro_dquotes{
compatible = "zmk,behavior-macro";
label = "macro_dquotes";
#binding-cells = <0>;
bindings = <&kp DQT>, <&kp DQT>, <&kp LEFT>;
};
macro_braces: macro_braces{
compatible = "zmk,behavior-macro";
label = "macro_braces";
#binding-cells = <0>;
bindings = <&kp LBRC>, <&kp RBRC>, <&kp LEFT>;
};
macro_parens: macro_parens{
compatible = "zmk,behavior-macro";
label = "macro_parens";
#binding-cells = <0>;
bindings = <&kp LPAR>, <&kp RPAR>, <&kp LEFT>;
};
macro_brackets: macro_brackets{
compatible = "zmk,behavior-macro";
label = "macro_brackets";
#binding-cells = <0>;
bindings = <&kp LBKT>, <&kp RBKT>, <&kp LEFT>;
};
macro_kinesis: macro_kinesis{
compatible = "zmk,behavior-macro";
label = "macro_kinesis";
#binding-cells = <0>;
bindings = <&kp LS(K)>, <&kp I>, <&kp N>, <&kp E>, <&kp S>, <&kp I>, <&kp S>;
};